/*
This contain edited custom css to avoid being overwritten in the next template updates
*/
/* 
    Created on : Jun 11, 2016, 9:30:34 AM
    Author     : Erick Chrysostom
*/

/* line 19, ../sass/partials/_login.scss */
body.login .box-login, body.login .box-forgot, body.login .box-register {
    background: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;
    padding: 15px;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    display:block;
}

/* line 15, ../sass/partials/_login.scss */
body.login .logo {
    font-size:2em;
}
/* line 19, ../sass/partials/_login.scss, hide reset password box */
body.login .box-reset-password {
    background: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;
    padding: 15px;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    display: block;
}

/* line 19, css for application set up */
body.login .box-setup {
    background: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;
    padding: 15px;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
}

.search-box {
    width: 600px;
}

.popover {
    max-width: 576px;
}

/* abandoned #8B91A0 and put #000000 */
body {
    color: #333333;
}

.toolbar .navbar-right .dropdown-menu.dropdown-messages .drop-down-wrapper ul > li a {
    color: #333333;
}

.table > tbody > tr.active > td, .table > tbody > tr.active > th {
    color: #333333 !important;
}

.accordion .panel-heading .accordion-toggle {
    color: #333333;
}

.todo li .todo-actions {
    color: #333333;
}

.activities li a {
    color: #333333;
}

.messages-list .messages-item span {
    color: #333333;
}

.messages-list .messages-item .messages-item-time .text {
    color: #333333;
}

.messages-content {
    color: #333333;
}

.messages-content .message-content {
    color: #333333;
}

.pagination-blue li a {
    color: #333333;
}

.pagination-green li a {
    color: #333333;
}

.pagination-red li a {
    color: #333333;
}

.pricing-table .plan li {
    color: #333333;
}

.pricing-table .plan li.plan-price {
    color: #333333;
}

.panel {
    color: #333333;
}

.panel-tools a {
    color: #333333;
}

.panel-light-grey, .partition-light-grey {
    color: #333333;
}

.panel-light-grey .panel-tools .btn:hover, .panel-light-grey .panel-tools > a:hover, .partition-light-grey .panel-tools .btn:hover, .partition-light-grey .panel-tools > a:hover {
    color: #333333 !important;
}

.panel-white, .partition-white {
    color: #333333;
}

/* abandoned #858585 and put #333333 */

.button-sv {
    color: #333333;
}

.button-sv:hover {
    color: #333333;
}

#readEvent .event-content {
    color: #333333;
}

#readEvent .event-start, #readEvent .event-end {
    color: #333333;
}

#readEvent .event-allday {
    color: #333333;
}

label {
    color: #333333;
}

select.form-control {
    color: #333333;
}

.fc-button {
    color: #333333;
}

.event-category {
    color: #333333;
}

#readFullEvent .event-content {
    color: #333333;
}

#readFullEvent .event-start, #readFullEvent .event-end {
    color: #333333;
}

#readFullEvent .event-allday {
    color: #333333;
}

/* End abandoning */


/* line 44, ../sass/partials/_base.scss */
a:hover{
/*    text-decoration: underline !important;*/
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
